@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  border: none;
  transform: scale(1);
}

.default {
  background: #E0E0E0;
  color: #3F3F3F;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.default:hover, .default:focus {
  background: #AEAEAE;
}

.default:disabled:hover {
  background: #E0E0E0;
}

.primary {
  background: #2962FF;
  color: #FFF;
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.primary:hover, .primary:focus {
  background: #0039CB;
}

.secondary {
  background: #455A64;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  color: #fff;
}

.secondary:hover, .secondary:focus {
  background: #1C313A;
}

.danger {
  background: #D32F2F;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
  color: #fff;
}

.danger:hover, .danger:focus {
  background: #9A0007;
}

.default:active, .outline:active, text:active {
  transform: scale(1.05);
}

.text {
  background: transparent;
  color: #3D5AFE;
  box-shadow: none;
}

.text:hover, .text:focus {
  background: rgba(41, 98, 255, 0.1);
}

.text:disabled, .outline:disabled, .button:disabled, .primary:disabled, .secondary:disabled {
  cursor: not-allowed;
  color: #9E9E9E;
}

.primary:disabled, .secondary:disabled, .danger:disabled {
  background: #E0E0E0;
}

.text:disabled:hover {
  background-color: white;
}

.outline {
  color: #3D5AFE;
  border: 1px solid #3D5AFE;
  background: #FFF;
}

.outline:disabled {
  border-color: #9E9E9E;
}

.outline:hover, .outline:active, .outline:focus, .outlineHoverDemo {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3D5AFE;
}

.outline:hover:disabled {
  background: #FFF;
}

.disableShadow {
  box-shadow: none;
}

.small {
  padding: 6px 12px;
}

.medium {
  padding: 8px 16px;
}

.large {
  padding: 11px 22px;
}